@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

.geist {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    color: white;
    background-color: darkslateblue;
    text-align: center;
}
.card {
    padding: 20px 10px;
    margin: 10px auto;
    border: 2px solid white;
    max-width: 500px;
}
.green {
    color: springgreen;
}
p {
    font-size: 30px;
}
h1 {
    font-size: 50px;
}
button {
    color: darkslateblue;
    background-color: white;
    box-shadow: none;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    transition:
        padding 0.3s,
        font-size 0.3s;
}
button:active {
    padding: 4px;
    font-size: 19px;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 500px;
    border: 2px solid white;
}
.error {
    color: orangered;
    font-size: 16px;
}
.sm-box {
    border: 1px dashed white;
    padding: 5px 10px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.blackjack-board {
    background-color: #04793c;
}
.blackjack-btn {
    background-color: #daa521;
    color: #04793c;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}
.blackjack-title {
    color: #daa521;
    margin-top: 20px;
}
